.App {
  text-align: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.c-navigation {
  display: flex;
  list-style: none;
}

.c-navigation__item + .c-navigation__item {
  display: flex;
  margin-left: 2rem;
}